
<div class="card-panel grey lighten-2"> <h4><%= @question.title %></h4> </div>

<h4><%= @question.question %></h4>

<h3>Answers</h3>
<ul>
  <% @answers.each do |answer| %>
  <li>
  <blockquote>
    <div class="row">
    <div class="col s12 grey lighten-3"><span class="flow-text">



    <a href=""><i class="material-icons tiny">thumb_up</i></a>
    <%= answer.answer  %>
    <i class="material-icons tiny">perm_identity</i>
    <strong><em><%= answer.user.full_name %></em></strong>
    </span></div>
  </blockquote>
    <div class="col s9 offset-s1"><span class="flow-text"><ul>
     <% answer.comments.each do |comment| %>
      <li>
          <div class="col s12 offset-s2 blue3 lighten-3"><span class="flow-text">
          <%= comment.comment %>

          <i class="material-icons tiny">perm_identity</i>
          <strong> <em><%= comment.user.full_name %></em> </strong>
          </span></div>
      </li>
      <% end %>
    </ul></span></div>
    </div>


    <ul>
     <% answer.comments.each do |comment| %>
      <li>
          <%= comment.comment %>
          <i class="material-icons tiny">perm_identity</i>
          <strong><em><%= comment.user.full_name %></em></strong>
      </li>
      <% end %>
    </ul>
  </li>
  <% end %>
</ul>

  <br>
  <textarea rows="4" cols="50" name="answer[answer]" form="answer_form">Enter answer here...</textarea>
  <form action='/answers/<%= @question.id %>' method="POST" id="answer_form">
  <input type="submit" name="Answer Question!">
  </form>

<h3>Question Comments</h3>
<ul>
  <%@comments.each do |comment| %>
  <li>
    <%= comment.comment %>
    <i class="material-icons tiny">perm_identity</i>
    <strong><em><%= comment.user.full_name %></em></strong>
  </li>
  <% end %>
</ul>
